{% extends "base.html.twig" %}

{% block title %}
Bienvenue sur le meilleur réseau d'appartements
{% endblock %}

{% block body %}
<div class = "container">
  <div class="jumbotron mt-3">
    <h1 class="display-3">Bienvenue sur SymBNB</h1>
    <p class="lead">Nous mettons en relations les voyageurs et les propriétaires 
    qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la locations.</p>
    <hr class="my-4">
    <p>Vous êtes voyageur? Et vous chercher une 
    location pour votre prochain déplacement?.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

  
  <h2 class="h1 mt-3 mb-4">Nos appartements stars</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-lignt mb-3">
        <div class="card-header text-center">
          3 chambres, <strong>49&euro; / nuit</strong><br>
          <small>Pas encore noté</small>
        </div>
        <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height: 200px, width: 100%; display: block">
        <div class="card-body">
          <h4 class="card-title">
            Appartement libre dès mnt!
          </h4>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, laborum. Molestiae, 
          perspiciatis odio repellat fugit consequuntur porro consectetur ex aliquid eligendi eveniet culpa nihil. 
          Velit blanditiis illo sit quam in!</p>
          <a href="#" class="btn btn-primary"> En savoir plus</a>
        </div>
      </div>
        
    </div>
    <div class="col-md-4">
      <div class="card bg-lignt mb-3">
        <div class="card-header text-center">
          3 chambres, <strong>49&euro; / nuit</strong><br>
          <small>Pas encore noté</small>
        </div>
        <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height: 200px, width: 100%; display: block">
        <div class="card-body">
          <h4 class="card-title">
            Appartement libre dès mnt!
          </h4>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, laborum. Molestiae, 
          perspiciatis odio repellat fugit consequuntur porro consectetur ex aliquid eligendi eveniet culpa nihil. 
          Velit blanditiis illo sit quam in!</p>
          <a href="#" class="btn btn-primary"> En savoir plus</a>
        </div>
      </div>
        
    </div>
    <div class="col-md-4">
      <div class="card bg-lignt mb-3">
        <div class="card-header text-center">
          3 chambres, <strong>49&euro; / nuit</strong><br>
          <small>Pas encore noté</small>
        </div>
        <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height: 200px, width: 100%; display: block">
        <div class="card-body">
          <h4 class="card-title">
            Appartement libre dès mnt!
          </h4>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, laborum. Molestiae, 
          perspiciatis odio repellat fugit consequuntur porro consectetur ex aliquid eligendi eveniet culpa nihil. 
          Velit blanditiis illo sit quam in!</p>
          <a href="#" class="btn btn-primary"> En savoir plus</a>
        </div>
      </div>
        
    </div>
  </div>

  <h2 class="h1 mt-3 mb-4"> nos propriétaires starts</h2>
  <div class="row">
    <div class="col">
      <div class="card border-secondary mb-3">
        <div class="card-body">
          <h4 class="card-title">
          Julien ratahiry
          </h4>
          <hr>
          <div class="card-text">
            <img src="http://placehold.it/64x64" alt="avatar de julien" class="float-left mr-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quas!</p>
            <a href="#" class="btn btn-success float-right">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-secondary mb-3">
        <div class="card-body">
          <h4 class="card-title">
          Julien ratahiry
          </h4>
          <hr>
          <div class="card-text">
            <img src="http://placehold.it/64x64" alt="avatar de julien" class="float-left mr-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quas!</p>
            <a href="#" class="btn btn-success float-right">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
{% endblock  %}